---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
	keywords?: string;
	image?: string;
	lang?: string;
}

const {
	title,
	description,
	keywords,
	image,
	lang = 'sv',
} = Astro.props;

const GTM_ID = '';
const GOOGLE_ADS_ID = 'AW-18159419373';
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} keywords={keywords} image={image} />
		{
			GOOGLE_ADS_ID && (
				<>
					<script async src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ADS_ID}`} />
					<script is:inline define:vars={{ GOOGLE_ADS_ID }}>
						window.dataLayer = window.dataLayer || [];
						function gtag() {
							dataLayer.push(arguments);
						}
						gtag('js', new Date());
						gtag('config', GOOGLE_ADS_ID);
					</script>
				</>
			)
		}
		{
			GTM_ID && (
				<script is:inline define:vars={{ GTM_ID }}>
					(function (w, d, s, l, i) {
						w[l] = w[l] || [];
						w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
						var f = d.getElementsByTagName(s)[0];
						var j = d.createElement(s);
						var dl = l != 'dataLayer' ? '&l=' + l : '';
						j.async = true;
						j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
						f.parentNode.insertBefore(j, f);
					})(window, document, 'script', 'dataLayer', GTM_ID);
				</script>
			)
		}
	</head>
	<body>
		{
			GTM_ID && (
				<noscript>
					<iframe
						src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
						height="0"
						width="0"
						style="display:none;visibility:hidden"
					>
					</iframe>
				</noscript>
			)
		}
		<Header />
		<slot />
		<Footer />
	</body>
</html>
